body{
    box-sizing: border-box;
    font-family: roboto;
    
}

/*centering the two sections of section1*/
.section1 {
    background-color: #1F2937;
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
      }

.section1header,
.section1box {
    width: 900px;
    /*background-color: blue; */
    }

.section1header {
    display: flex;
    gap: 20px;
    height: 50px;
    align-items: center;
    }

  .headerlinks,
  .section1boxc.content {
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    }

.headerlinks.linkone {
    margin-left: auto;
}

.headerlogo {
    font-size: 24px; 
    color: #f9faf8;
}

.section1boxc.heading {
    font-size: 48px; 
    color: #f9faf8;
}

/*arranging the sections of section1box*/
.section1box {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;
  }

.section1boxc.content {
margin-bottom: 20px;
}

.section1boxc.button {
    padding: 5px 25px;
    border-radius: 10px;
    background-color: #3882f6;
    font-size: 15px; 
    color: #f9faf8;
}

/*section 2*/

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2header,
.section2contentwrapper {
    width: 900px;
}

.section2header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.section2contentwrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.section2box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 220px;
    text-align: center;
}

.section2image {
    height: 180px;
    width: 180px;
    border-color: #3882f6;
    border-radius: 8px;
    border-width: 3px;
}    

.section3color {
    background-color: #e5e7eb;
    width: 100%;
    margin-top: 100px;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.section3wrapper {
    width: 700px;
    margin: 50px 0;
}
.quote {
    margin: 25px 0;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.customersignature {
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}